@import mixins

// ribbon options
$ribbon-color = #121621
$ribbon-position = 'top-right' // top-left

// ribbon
.github-ribbon
  background-color $ribbon-color
  ribbon-position $ribbon-position
  box-shadow 0 0 0px 1px lighten(desaturate($ribbon-color, 20%), 5%) inset, 0 0 2px 1px white inset, 0 0 1em #888
  color rgba(255, 255, 255, 0.9)
  display block
  padding 0.6em 3.5em
  position fixed
  font bold 0.82em sans-serif
  text-align center
  text-decoration none
  text-shadow: 1px -1px 8px rgba(0,0,0,0.6)
  user-select none